.t-card {
    margin: 20px;
    // border: 1px solid #383a3e;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 15px rgba(0,0,0,0.52);

    ion-row {
        &:not(:first-child) {
            border-top: 1px solid #383a3e;
        }
    }

    ion-col {
        font-size: 26px;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 60px;
        width: 60px;
        min-width: 30px;
        background-color: #FFD700;

        &:not(:last-child) {
            border-right: 1px solid #383a3e;
        }

        &.active {
            background-color: var(--ion-color-primary);
            color: #fff;
        }
    }
}