<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Prathyusha Family Thambola
    </ion-title>
    <ion-buttons slot="end" *ngIf="newNumber">
      New Number <span style="font-size: 40px;margin: 16px;">{{newNumber}}</span>
  
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-thambola-card *ngIf="thambolaTicket" (ticketNumberClick)="onTicketNumberClick($event)" [ticket]="thambolaTicket" ></app-thambola-card>
  <ion-grid>
    <ion-text color="medium" text-center>
      <p>You joined as {{ currentUser }}</p>
    </ion-text>
    <ion-row *ngFor="let message of messages">
 
      <ion-col size="9" *ngIf="message.user !== currentUser" class="message other-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.user === currentUser" class="message my-message">
        <b>{{ message.user }}</b><br>
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row>
  </ion-grid>

  <app-users [users]="allUsers"></app-users>
 
</ion-content>
 
<!-- <ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea class="message-input" placeholder="Enter message here.." rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->

<!-- <ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content> -->